
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-es7 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-1-es7 .auto-group-5t24-ULM {
  box-sizing: border-box;
  padding: 1.2rem 16rem 1rem 6.3rem;
  width: 100%;
  height: 7.1rem;
  display: flex;
  align-items: center;
  background-color: #faf2f2;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-5t24-ULM .group-17-Vem {
  margin-right: 48.5rem;
  width: 18.2rem;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-5t24-ULM .group-17-Vem .rectangle-14-R2d {
  width: 12rem;
  height: 3.9rem;
  position: absolute;
  left: 6.2rem;
  top: 0.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
}
.desflyertechgmailcom-jPb a{
  text-decoration: none;
  color:#000;

}
.desktop-1-es7 .auto-group-5t24-ULM .group-17-Vem .des-iXX {
  width: 6.7rem;
  height: 4.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-5t24-ULM .group-17-Vem .flyer-b5X {
  width: 9rem;
  height: 4.9rem;
  position: absolute;
  left: 7.6rem;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-5t24-ULM .home-Uf7 {
  margin: 0.1rem 7.1rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-5t24-ULM .about-us-mu7 {
  margin: 0.1rem 4.3rem 0rem 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-5t24-ULM .service-4dK {
  margin: 0.1rem 5.9rem 0rem 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-5t24-ULM .internship-yVP {
  margin: 0.1rem 3.9rem 0rem 0rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-5t24-ULM .contact-us-5YR {
  margin-top: 0.1rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj {
  box-sizing: border-box;
  padding: 1.4rem 5.7rem 5rem 12.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo {
  margin: 0rem 9.6rem 0rem 2.7rem;
  width: calc(100% - 12.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-z2mj-1Kb {
  margin-right: 18.1rem;
  width: 54.4rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-z2mj-1Kb .transforming-ideas-into-beautiful-designs-wU9 {
  margin-bottom: 2.3rem;
  max-width: 43.5rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2200000763;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-z2mj-1Kb .transforming-ideas-into-beautiful-designs-wU9 .transforming-ideas-into-beautiful-designs-wU9-sub-0 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-z2mj-1Kb .transforming-ideas-into-beautiful-designs-wU9 .transforming-ideas-into-beautiful-designs-wU9-sub-1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.22;
  color: #0496ff;
  font-family: Iceberg, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-z2mj-1Kb .desflyer-is-a-startup-company-that-specializes-in-providing-top-notch-ui-ux-design-services-for-clientswe-also-offer-internship-opportunities-for-students-togain-real-world-experience-in-the-design-industry-BvD {
  margin: 0rem 0rem 3.5rem 0.9rem;
  max-width: 53.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-z2mj-1Kb .desflyer-is-a-startup-company-that-specializes-in-providing-top-notch-ui-ux-design-services-for-clientswe-also-offer-internship-opportunities-for-students-togain-real-world-experience-in-the-design-industry-BvD .desflyer-is-a-startup-company-that-specializes-in-providing-top-notch-ui-ux-design-services-for-clientswe-also-offer-internship-opportunities-for-students-togain-real-world-experience-in-the-design-industry-BvD-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0496ff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-z2mj-1Kb .desflyer-is-a-startup-company-that-specializes-in-providing-top-notch-ui-ux-design-services-for-clientswe-also-offer-internship-opportunities-for-students-togain-real-world-experience-in-the-design-industry-BvD .desflyer-is-a-startup-company-that-specializes-in-providing-top-notch-ui-ux-design-services-for-clientswe-also-offer-internship-opportunities-for-students-togain-real-world-experience-in-the-design-industry-BvD-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-z2mj-1Kb .auto-group-yjtv-gtu {
  margin-right: 38rem;
  box-sizing: border-box;
  padding: 0.2rem 1.5rem 0.2rem 2.7rem;
  width: calc(100% - 38rem);
  display: flex;
  align-items: center;
  background-color: #0496ff;
  border-radius: 1rem;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-z2mj-1Kb .auto-group-yjtv-gtu .start-bW5 {
  margin: 0.2rem 1.2rem 0rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-z2mj-1Kb .auto-group-yjtv-gtu .circled-right-RNd {
  margin-bottom: 0.2rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-pnp6-7mF {
  margin-bottom: 3.6341rem;
  width: 41.4rem;
  height: 40.6659rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-pnp6-7mF .group-1-rD3 {
  width: 41.4rem;
  height: 40.6659rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-1szt-hZo .auto-group-pnp6-7mF .uiux-ncV {
  width: 6.7rem;
  height: 4rem;
  position: absolute;
  left: 15.6rem;
  top: 6.4863rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T {
  margin: 0rem 40rem 4.1rem 0rem;
  height: 9.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .auto-group-jvxe-Q85 {
  box-sizing: border-box;
  padding: 2.2rem 1.2rem 2.8rem 0rem;
  height: 100%;
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .auto-group-jvxe-Q85 .star-1-7YH {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .auto-group-jvxe-Q85 .star-2-Ts3 {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .auto-group-jvxe-Q85 .star-3-oAD {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .auto-group-jvxe-Q85 .star-4-9Uy {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .auto-group-jvxe-Q85 .star-5-W4d {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .line-1-FY1 {
  margin-right: 1.4rem;
  width: 0.1rem;
  height: 9.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .line-2-zEh {
  margin-right: 1.6rem;
  width: 0.1rem;
  height: 9.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .professional-ui-ux-design-services-XkR {
  margin-bottom: 1.6rem;
  max-width: 18.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .auto-group-nrd6-3Ts {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0.1rem 3.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .auto-group-nrd6-3Ts .line-3-NW9 {
  margin-right: 1.4rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .auto-group-nrd6-3Ts .line-4-Jub {
  margin-right: 2rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-mddw-H3T .auto-group-nrd6-3Ts .internship-opportunities-for-students-rRK {
  margin-top: 1.4rem;
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-9-mHP {
  margin-bottom: 6.9rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: 1.9487rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-9-mHP .image-1-7c9 {
  margin-right: 7.7rem;
  width: 64.6rem;
  height: 35.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.9487rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-9-mHP .auto-group-ojax-eMB {
  width: 53.9rem;
  height: 30.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-9-mHP .auto-group-ojax-eMB .professional-ui-ux-design-services-niH {
  width: 38.2rem;
  height: 17.6rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .group-9-mHP .auto-group-ojax-eMB .our-team-of-expert-designers-at-desflyer-is-dedicated-to-creating-professional-and-visually-appealing-ui-ux-designs-for-our-clients-we-understand-the-importance-of-user-experience-and-strive-to-deliver-designs-that-are-both-functional-and-aesthetically-pleasing-W8V {
  width: 53.7rem;
  height: 15rem;
  position: absolute;
  left: 0.2rem;
  top: 15.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0496ff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd {
  margin: 0rem 6.4rem 3.89rem 0rem;
  width: 114.4rem;
  height: 89.41rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-11-zxm {
  width: 113rem;
  height: 46.51rem;
  position: absolute;
  left: 1.4rem;
  top: 42.9rem;
  display: flex;
  align-items: center;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-11-zxm .group-3-itm {
  margin-right: 11.609rem;
  width: 45.191rem;
  height: 46.51rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-11-zxm .auto-group-2nrg-4Sq {
  margin: 9.7rem 0rem 3.71rem 0rem;
  height: calc(100% - 13.41rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-11-zxm .auto-group-2nrg-4Sq .our-beliefs-BGZ {
  margin: 0rem 24.7rem 2.5rem 0rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.22;
  color: #0496ff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-11-zxm .auto-group-2nrg-4Sq .desflyer-believes-in-the-power-of-design-to-transform-businesses-and-enhance-user-experiences-we-are-committed-to-staying-up-to-date-with-the-latest-design-trends-and-technologies-to-deliver-cutting-edge-solutions-to-our-clients-twf {
  margin: 0rem 1.3rem 5.1rem 0rem;
  max-width: 54.9rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-11-zxm .auto-group-2nrg-4Sq .auto-group-ljwc-JkV {
  width: 16.4rem;
  height: 4.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #ffffff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0496ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-10-m8H {
  width: 114.4rem;
  height: 43.164rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-10-m8H .about-us-hXj {
  margin: 0rem 0.2rem 1.3rem 0rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.22;
  color: #0496ff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-10-m8H .auto-group-5ids-pcM {
  width: 100%;
  height: 35.964rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-10-m8H .auto-group-5ids-pcM .auto-group-yemz-a5j {
  margin: 7.4rem 9.303rem 10.564rem 0rem;
  width: 55.0965rem;
  height: calc(100% - 17.964rem);
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-10-m8H .auto-group-5ids-pcM .auto-group-yemz-a5j .welcome-to-desflyer-we-are-a-startup-company-that-is-passionate-about-creating-visually-appealing-and-user-friendly-designs-our-team-of-expert-designers-is-committed-to-delivering-high-quality-ui-ux-design-services-to-help-businesses-stand-out-in-the-digital-landscape-s4q {
  width: 52.5rem;
  height: 18rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-10-m8H .auto-group-5ids-pcM .auto-group-yemz-a5j .line-5-qvm {
  width: 4.2rem;
  height: 0.1rem;
  position: absolute;
  left: 50.6rem;
  top: 12.9rem;
  background-color: #000000;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-10-m8H .auto-group-5ids-pcM .auto-group-yemz-a5j .line-6-yGH {
  width: 2.7965rem;
  height: 0.1rem;
  position: absolute;
  left: 52.3rem;
  top: 15rem;
  background-color: #000000;
}
.desktop-1-es7 .auto-group-wreq-nhj .auto-group-7pm2-UUd .group-10-m8H .auto-group-5ids-pcM .group-2-hi5 {
  width: 50rem;
  height: 35.964rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty {
  margin: 0rem 6.15rem 6.967rem 0rem;
  width: 114.05rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .our-services-kwF {
  margin: 0rem 0.35rem 5.1rem 0rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.22;
  color: #0496ff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z {
  width: 100%;
  height: 46.9329rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .auto-group-2wrs-pRK {
  margin: 5rem 9.2rem 9.133rem 0rem;
  height: calc(100% - 14.1329rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .auto-group-2wrs-pRK .desflyer-is-a-startup-company-that-specializes-in-providing-professional-ui-ux-design-services-our-team-of-expert-designers-works-closely-with-clients-to-understand-their-business-goals-and-create-visually-appealing-and-user-friendly-digital-experiences-from-wireframing-and-prototyping-to-visual-design-and-usability-testing-we-offer-a-comprehensive-range-of-ui-ux-design-services-to-help-businesses-stand-out-in-the-digital-landscape-MAM {
  margin-bottom: 4.2rem;
  max-width: 56.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}


.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .auto-group-2wrs-pRK .auto-group-8spt-tZb {
  width: 16.4rem;
  height: 4.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #ffffff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0496ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm {
  width: 48.55rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-floor-inject-110-6vZ {
  width: 48.55rem;
  height: 28.03rem;
  position: absolute;
  left: 0;
  top: 18.9029rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-shadows-inject-110-2JR {
  width: 41.491rem;
  height: 16.9631rem;
  position: absolute;
  left: 2.1753rem;
  top: 26.0989rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-icons-inject-110-YGm {
  width: 43.3531rem;
  height: 12.9742rem;
  position: absolute;
  left: 3.0508rem;
  top: 0.9547rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-gears-inject-110-fcH {
  width: 46.5823rem;
  height: 22.4439rem;
  position: absolute;
  left: 0.8569rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-desk-inject-110-CcD {
  width: 27.744rem;
  height: 26.0642rem;
  position: absolute;
  left: 15.731rem;
  top: 14.1387rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-device-2-inject-110-iqT {
  width: 7.9518rem;
  height: 5.324rem;
  position: absolute;
  left: 32.482rem;
  top: 21.826rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-devices-1-inject-110-FaV {
  width: 16.0237rem;
  height: 15.9573rem;
  position: absolute;
  left: 19.4703rem;
  top: 8.6028rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-chat-inject-110-BU9 {
  width: 7.98rem;
  height: 8.0291rem;
  position: absolute;
  left: 25.698rem;
  top: 7.8042rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-clook-inject-110-WWR {
  width: 11.5041rem;
  height: 13.2838rem;
  position: absolute;
  left: 22.2564rem;
  top: 31.4381rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-chair-inject-110-q2u {
  width: 14.923rem;
  height: 23.8094rem;
  position: absolute;
  left: 3.391rem;
  top: 14.0048rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-character-inject-110-MX3 {
  width: 18.4669rem;
  height: 40.567rem;
  position: absolute;
  left: 5.7781rem;
  top: 0.8694rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-plant-inject-110-V7T {
  width: 6.8119rem;
  height: 8.6154rem;
  position: absolute;
  left: 37.6811rem;
  top: 31.9201rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-speech-bubble-2-inject-110-otq {
  width: 5.051rem;
  height: 7.4125rem;
  position: absolute;
  left: 36.529rem;
  top: 13.0771rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .freepik-speech-bubble-1-inject-110-Xpq {
  width: 10.326rem;
  height: 10.331rem;
  position: absolute;
  left: 32.7108rem;
  top: 0.3405rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-12-Rty .auto-group-edbs-U6Z .group-4-NUm .uiux-design-fAM {
  width: 7.8rem;
  height: 5.9rem;
  position: absolute;
  left: 33.975rem;
  top: 2.2599rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb {
  margin: 0rem 9.4rem 4.4rem 2.7rem;
  width: calc(100% - 12.1rem);
  height: 48.9rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw {
  margin-right: 6.9575rem;
  width: 51.2425rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-floor-inject-172-by7 {
  width: 51.2425rem;
  height: 29.5835rem;
  position: absolute;
  left: 0;
  top: 19.3165rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-shadows-inject-172-8i9 {
  width: 31.9183rem;
  height: 10.3499rem;
  position: absolute;
  left: 9.8483rem;
  top: 35.8142rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-ladder-inject-172-A93 {
  width: 12.1327rem;
  height: 13.218rem;
  position: absolute;
  left: 27.3698rem;
  top: 31.6392rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-character-2-inject-172-HDf {
  width: 27.7557rem;
  height: 33.3588rem;
  position: absolute;
  left: 17.8626rem;
  top: 2.2398rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-character-1-inject-172-1QZ {
  width: 18.9989rem;
  height: 34.8309rem;
  position: absolute;
  left: 7.8461rem;
  top: 9.0184rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-light-bulb-inject-172-Xdo {
  width: 5.5517rem;
  height: 5.6873rem;
  position: absolute;
  left: 33.2752rem;
  top: 0.1659rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-shines-inject-172-47w {
  width: 26.5411rem;
  height: 8.2067rem;
  position: absolute;
  left: 14.315rem;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-shines-inject-172-47w .freepik-shine-inject-172-mo3 {
  margin-right: 12.2889rem;
  width: 3.2581rem;
  height: 3.1042rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-shines-inject-172-47w .freepik-shine-inject-172-Vj3 {
  margin: 0rem 4.967rem 5.642rem 0rem;
  width: 3.117rem;
  height: 2.5646rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-shines-inject-172-47w .freepik-shine-inject-172-R6u {
  margin-bottom: 0.291rem;
  width: 2.9104rem;
  height: 2.5822rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .freepik-paper-planes-inject-172-MWM {
  width: 49.7453rem;
  height: 20.7856rem;
  position: absolute;
  left: 1.0099rem;
  top: 9.9316rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .group-5-Gfw .ideas-gYd {
  width: 9.2rem;
  height: 4.4rem;
  position: absolute;
  left: 21.2148rem;
  top: 20.3176rem;
  font-size: 3.5358rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .auto-group-rsbv-Phw {
  margin-top: 2.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .auto-group-rsbv-Phw .transforming-ideas-into-beautiful-designs-8vR {
  margin-bottom: 4.4rem;
  max-width: 47.8rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.22;
  color: #0496ff;
  font-family: Iceberg, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-13-khb .auto-group-rsbv-Phw .at-desflyer-we-specialize-in-providing-professional-ui-ux-design-services-to-transform-your-ideas-into-beautiful-and-user-friendly-designs-from-wireframing-and-prototyping-to-visual-design-and-usability-testing-our-team-of-expert-designers-will-work-closely-with-you-to-create-a-digital-experience-that-engages-and-delights-your-users-FVF {
  margin-left: 0.3rem;
  max-width: 55.6rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH {
  margin: 0rem 6.052rem 7.952rem 0rem;
  width: 114.7475rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .internship-KNd {
  margin: 0rem 2.448rem 4.4rem 0rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.22;
  color: #0496ff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd {
  width: 100%;
  height: 41.9481rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .desflyer-gives-internship-for-college-student-for-improve-uiux-design-skill-and-gives-certification-for-completion-the-internship-its-improve-your-designing-knowledge-and-experience-Bfj {
  width: 53.7rem;
  height: 15rem;
  position: absolute;
  left: 0;
  top: 5.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .rectangle-4-Pmo {
  width: 16.4rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 25.3rem;
  background-color: #0496ff;
  border-radius: 1rem;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .apply-ip5 {
  width: 8rem;
  height: 4rem;
  position: absolute;
  left: 3.3rem;
  top: 25.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw {
  width: 63.0475rem;
  height: 41.9481rem;
  position: absolute;
  left: 51.7rem;
  top: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-background-simple-inject-209-8N1 {
  width: 60.8171rem;
  height: 41.9481rem;
  position: absolute;
  left: 2.2304rem;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-DUq.png');
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-background-simple-inject-209-8N1 .vector-FxR {
  width: 60.8171rem;
  height: 41.9481rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-calendar-inject-209-A3o {
  width: 8.094rem;
  height: 8.356rem;
  position: absolute;
  left: 54.3818rem;
  top: 21.1584rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-clock-inject-209-4Q5 {
  width: 11.7069rem;
  height: 11.7069rem;
  position: absolute;
  left: 44.7081rem;
  top: 1.1894rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-picture-inject-209-BUh {
  width: 35.132rem;
  height: 33.057rem;
  position: absolute;
  left: 8.2418rem;
  top: 1.1684rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-speech-bubble-2-inject-209-J3X {
  box-sizing: border-box;
  padding: 0.52rem 2.572rem 0.52rem 2.54rem;
  width: 7.624rem;
  height: 8.093rem;
  position: absolute;
  left: 46.4698rem;
  top: 13.9314rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-VH7.png');
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-speech-bubble-2-inject-209-J3X .vector-N3P {
  width: 2.5116rem;
  height: 5.006rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-speech-bubble-1-inject-209-6VB {
  box-sizing: border-box;
  padding: 2.853rem 2.427rem 4.334rem 2.428rem;
  width: 9.516rem;
  height: 8.093rem;
  position: absolute;
  left: 13.7108rem;
  top: 6.1624rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-kGd.png');
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-speech-bubble-1-inject-209-6VB .vector-Nhb {
  margin-right: 0.972rem;
  width: 0.906rem;
  height: 0.906rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-speech-bubble-1-inject-209-6VB .vector-7v5 {
  margin-right: 0.971rem;
  width: 0.906rem;
  height: 0.906rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-speech-bubble-1-inject-209-6VB .vector-Tyw {
  width: 0.906rem;
  height: 0.906rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-plant-inject-209-c69 {
  width: 9.7515rem;
  height: 22.2426rem;
  position: absolute;
  left: 0;
  top: 15.6427rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-character1-inject-209-jgZ {
  width: 33.161rem;
  height: 29.9017rem;
  position: absolute;
  left: 11.5938rem;
  top: 7.9837rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-character-2-inject-209-eoX {
  width: 29.76rem;
  height: 22.4009rem;
  position: absolute;
  left: 22.632rem;
  top: 15.4845rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-device-inject-209-mt9 {
  width: 21.235rem;
  height: 8.822rem;
  position: absolute;
  left: 12.0058rem;
  top: 29.0634rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .freepik-table-inject-209-W53 {
  width: 58.66rem;
  height: 0;
  position: absolute;
  left: 0.5288rem;
  top: 37.8854rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .internship-dvM {
  width: 20.9rem;
  height: 5.9rem;
  position: absolute;
  left: 25.1rem;
  top: 2.1rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .group-6-DVw .uiux-wg9 {
  width: 10.1rem;
  height: 5.9rem;
  position: absolute;
  left: 38.7rem;
  top: 8.5rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-14-oQH .auto-group-ucuc-3Jd .instagram-check-mark-f6M {
  width: 3.7rem;
  height: 4.3rem;
  position: absolute;
  left: 11.7rem;
  top: 25.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD {
  margin-right: 7.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .contact-us-XPT {
  margin: 0rem 0.8rem 2rem 0rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.22;
  color: #0496ff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .desflyer-is-a-fantastic-company-to-work-with-their-team-of-designers-is-highly-skilled-and-professional-they-understood-our-requirements-and-delivered-a-website-redesign-that-exceeded-our-expectations-we-have-seen-a-significant-improvement-in-user-engagement-and-conversion-rates-since-the-redesign-i-highly-recommend-desflyer-for-all-your-ui-ux-design-needs-SFX {
  margin: 0rem 0rem 1.4rem 0.9rem;
  max-width: 112.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb {
  margin-right: 0.1rem;
  height: 17.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-qb4p-7FB {
  margin: 0.5rem 7.8rem 0.3rem 0rem;
  width: 33rem;
  height: calc(100% - 0.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-qb4p-7FB .auto-group-agax-cxd {
  margin-bottom: 2.8rem;
  box-sizing: border-box;
  padding: 0.8rem 3.1rem 1rem 2.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #0496ff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-qb4p-7FB .auto-group-agax-cxd .group-of-projects-8RB {
  margin: 0rem 1.2rem 0.1rem 0rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-qb4p-7FB .auto-group-agax-cxd .item-100-3o3 {
  margin: 0.5rem 2.2rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1325;
  color: #0496ff;
  font-family: Aclonica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-qb4p-7FB .auto-group-agax-cxd .projects-xv1 {
  margin-top: 0.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-qb4p-7FB .auto-group-zahs-2us {
  box-sizing: border-box;
  padding: 1.1rem 1.1rem 0.9rem 0.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #0496ff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-qb4p-7FB .auto-group-zahs-2us .auditorium-xYd {
  margin-bottom: 0.4rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-qb4p-7FB .auto-group-zahs-2us .auto-group-bj4y-6eq {
  margin-top: 1.2rem;
  width: 26.7rem;
  height: 3.7rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-qb4p-7FB .auto-group-zahs-2us .auto-group-bj4y-6eq .internship-students-Em3 {
  width: 19.4rem;
  height: 3rem;
  position: absolute;
  left: 7.3rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-qb4p-7FB .auto-group-zahs-2us .auto-group-bj4y-6eq .item-250-97K {
  width: 7.4rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1325;
  color: #0496ff;
  font-family: Aclonica, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-sxt6-zNq {
  margin: 0.5rem 8.5rem 0rem 0rem;
  width: 33rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-sxt6-zNq .auto-group-2eap-7yF {
  margin-bottom: 3.1rem;
  box-sizing: border-box;
  padding: 0.8rem 6.4rem 0.7rem 2.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #0496ff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-sxt6-zNq .auto-group-2eap-7yF .member-dRo {
  margin: 0rem 2.5rem 0.4rem 0rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-sxt6-zNq .auto-group-2eap-7yF .item-75-9uw {
  margin: 0.8rem 0.8rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1325;
  color: #0496ff;
  font-family: Aclonica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-sxt6-zNq .auto-group-2eap-7yF .clients-sqw {
  margin-top: 0.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-sxt6-zNq .auto-group-4ync-y8H {
  box-sizing: border-box;
  padding: 1.1rem 4.2rem 0.8rem 2.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.2rem #0496ff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-sxt6-zNq .auto-group-4ync-y8H .user-groups-6To {
  margin-right: 1.5rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-sxt6-zNq .auto-group-4ync-y8H .item-25-Epu {
  margin: 0.4rem 1.9rem 0rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1325;
  color: #0496ff;
  font-family: Aclonica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .auto-group-sxt6-zNq .auto-group-4ync-y8H .workers-y1o {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED {
  margin-bottom: 0.8rem;
  width: 31.3rem;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED .auto-group-wkgu-nzq {
  margin-bottom: 1rem;
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: flex-start;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED .auto-group-wkgu-nzq .instagram-check-mark-wMw {
  margin: 0.3rem 0.9rem 0rem 0rem;
  width: 4.6rem;
  height: 4.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED .auto-group-wkgu-nzq .auto-group-2hbi-FdX {
  width: 25.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED .auto-group-wkgu-nzq .auto-group-2hbi-FdX .saravanan-k-oQ9 {
  width: 25.8rem;
  height: 4.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.22;
  color: #0496ff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED .auto-group-wkgu-nzq .auto-group-2hbi-FdX .founder-K7b {
  width: 11.3rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 3.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED .auto-group-frtq-RgR {
  margin-right: 8.2rem;
  width: calc(100% - 8.2rem);
  height: 7.8rem;
  display: flex;
  align-items: flex-start;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED .auto-group-frtq-RgR .instagram-check-mark-kyb {
  margin-right: 0.9rem;
  width: 4.6rem;
  height: 4.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED .auto-group-frtq-RgR .auto-group-mnoe-gcM {
  width: 17.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED .auto-group-frtq-RgR .auto-group-mnoe-gcM .co-founder-dXb {
  width: 15.7rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 3.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-wreq-nhj .group-15-aUD .auto-group-tbh6-NHb .group-7-FED .auto-group-frtq-RgR .auto-group-mnoe-gcM .naveen-g-kMK {
  width: 17.6rem;
  height: 4.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.22;
  color: #0496ff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-idtp-FYy {
  box-sizing: border-box;
  padding-top: 5.5rem;
  width: 147.7rem;
  background-color: rgba(224, 224, 224, 0.5);
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .group-18-zWZ {
  margin: 0rem 0rem 0.8rem 19.1rem;
  width: 18.2rem;
  height: 4.9rem;
  position: relative;
  border-radius: 0.5rem;
}
.desktop-1-es7 .auto-group-idtp-FYy .group-18-zWZ .rectangle-14-iSZ {
  width: 12rem;
  height: 3.9rem;
  position: absolute;
  left: 6.2rem;
  top: 0.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
}
.desktop-1-es7 .auto-group-idtp-FYy .group-18-zWZ .des-eLD {
  width: 6.7rem;
  height: 4.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-idtp-FYy .group-18-zWZ .flyer-ZTB {
  width: 9rem;
  height: 4.9rem;
  position: absolute;
  left: 7.6rem;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: flex-start;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-qxlk-D1w {
  margin: 1rem 5.5rem 0rem 0rem;
  width: 55.9rem;
  height: 31.5rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-qxlk-D1w .ui-1-Kqf {
  width: 31.9054rem;
  height: 26.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-qxlk-D1w .item-90925794608124564696-TS5 {
  width: 25.4rem;
  height: 3rem;
  position: absolute;
  left: 25rem;
  top: 13.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-90925794608124564696-TS5 a{
  text-decoration: none;
  color: #000;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-qxlk-D1w .desflyertechgmailcom-jPb {
  width: 24.3rem;
  height: 3rem;
  position: absolute;
  left: 25rem;
  top: 4.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-qxlk-D1w .north-mudhalar-street-kabisthalampapanasamtk-thanjavur-614203-S37 {
  width: 27.2rem;
  height: 9rem;
  position: absolute;
  left: 25rem;
  top: 22.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-qxlk-D1w .email-Jr1 {
  width: 7.4rem;
  height: 4rem;
  position: absolute;
  left: 24.5rem;
  top: 0.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-qxlk-D1w .phone-no-2X7 {
  width: 12.6rem;
  height: 4rem;
  position: absolute;
  left: 24.5rem;
  top: 9.5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-qxlk-D1w .address-Lnh {
  width: 10.9rem;
  height: 4rem;
  position: absolute;
  left: 24.5rem;
  top: 18.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .line-7-3x1 {
  margin: 1rem 12.8rem 0rem 0rem;
  width: 0.1rem;
  height: 29.8007rem;
  background-color: #000000;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-71pp-yam {
  margin: 1rem 11.5rem 0rem 0rem;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-71pp-yam .home-thj {
  margin-left: 0.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-71pp-yam .about-us-2ow {
  margin-left: 0.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-71pp-yam .services-Av9 {
  margin-left: 0.5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-71pp-yam .internship-7aV {
  margin-left: 0.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-71pp-yam .contact-us-Fwb {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .line-8-bVf {
  margin-right: 5.2rem;
  width: 0.1rem;
  height: 29.8007rem;
  background-color: #000000;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-avzt-wZX {
  margin-top: 1rem;
  width: 34.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-avzt-wZX .follow-as-on-social-media-gn1 {
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #000000;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-avzt-wZX .auto-group-wcuj-1pH {
  margin: 0rem 0.9rem 0rem 1.2rem;
  width: calc(100% - 2.1rem);
  display: flex;
  column-gap: 1.9rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-avzt-wZX .auto-group-wcuj-1pH .linkedin-Kpy {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-avzt-wZX .auto-group-wcuj-1pH .whatsapp-ftq {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-avzt-wZX .auto-group-wcuj-1pH .instagram-DfT {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-avzt-wZX .auto-group-wcuj-1pH .facebook-A4u {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-uprp-4eq .auto-group-avzt-wZX .auto-group-wcuj-1pH .twitterx-7Vw {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-es7 .auto-group-idtp-FYy .auto-group-kejw-3uP {
  margin-left: 3.7rem;
  width: 144rem;
  height: 4.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.22;
  color: #ffffff;
  font-family: Iceberg, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
